<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> DEEPFAKE DETECTION</title>
  <!-- Bootstrap CSS -->
  {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
  <style>
  .bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}


.deepfake-text {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; /* Adjust the color as needed */
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0); /* Adjust the alpha value (last parameter) for transparency */;
  
  width: 200px; /* Adjust width as needed */
  margin: 0 auto; /* Center the div horizontally */
}

.text-center{
  color : white;
}

</style>  
  
</head>
<body>
 
    <img src="{% static "images/bgrnd.jpg" %}" alt="bg" class="bg">
  <div class="container mt-5">
    <h1 class="text-center mb-4">Fake Information Detection</h1>

    <!-- Video Upload Section -->
    <div class="card mb-4 ">
      <div class="card-header bg-primary text-white">
        Upload Video
      </div>
      <div class="card-body ">
        <form action="#" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="videoFile">Choose a video file:</label>
            <input type="file" class="form-control-file" id="videoFile" name="videoFile" accept="video/*">
          </div>
          <button type="submit" class="btn btn-primary">Upload Video</button>
        </form>
      </div>
    </div>

    <!-- Photo Upload Section -->
    <div class="card mb-4">
      <div class="card-header bg-success text-white">
        Upload Photo
      </div>
      <div class="card-body transparent">
        <form action="#" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="photoFile">Choose a photo file:</label>
            <input type="file" class="form-control-file" id="photoFile" name="photoFile" accept="image/*">
          </div>
          <button type="submit" class="btn btn-success">Upload Photo</button>
        </form>
      </div>
    </div>

    <!-- Audio Upload Section -->
    <div class="card">
      <div class="card-header bg-info text-white">
        Upload Audio
      </div>
      <div class="card-body">
        <form action="{% url 'predict_audio' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="audioFile">Choose an audio file:</label>
            <input type="file" class="form-control-file" id="audioFile" name="audio" accept="audio/*">
          </div>
          <button type="submit" class="btn btn-info">Upload Audio</button>
        </form>
      </div>
    </div>

        <!-- Prediction Result Section -->
    <div class="card mt-4" id="predictionResult">
      <div class="card-header bg-info text-white">
        Prediction Result
      </div>
      <div class="card-body">
        <p><strong>Prediction Result:</strong> {{ result }}</p>
        <h5>Extracted Audio Features:</h5>
        <ul>
          {% for key, value in audio_features.items %}
              <li><strong>{{ key }}:</strong> {{ value }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
